In [4]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pylab import rcParams

#reading file
pd.set_option('display.max_columns', 999)
movies = pd.read_csv("movies.csv", header=0)
movies = movies.replace({np.nan: None}) # replace NaN with None

print(movies.head())

ratings = pd.read_csv("ratings_small.csv", header=0)
print(ratings.head())

links = pd.read_csv("links.csv", header=0)
print(links.head())

#Total no. of movies
print(len(movies))

links.columns=["movieId","imdb_id","tmdbId"]
print(links.head())
#mergeddf=movies.append([links,ratings])
#print(mergeddf.head())

      id                        title  \
0    862                    Toy Story
1   8844                      Jumanji
2  15602             Grumpier Old Men
3  31357            Waiting to Exhale
4  11862  Father of the Bride Part II

                                             tagline  \
0                                               None
1          Roll the dice and unleash the excitement!
2  Still Yelling. Still Fighting. Still Ready for...
3  Friends are the people who let you be yourself...
4  Just When His World Is Back To Normal... He's ...

                                         description  \
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

                       genres  \
0   animation, comedy, family
1  adventure, fantasy, family
2             romance, comedy
3      comedy, drama, romance
4                      comedy

                                            keywords        date  \
0  jealousy, toy, boy, friendship, friends, rival...  1995-10-30
1  board game, disappearance, based on children's...  1995-12-15
2  fishing, best friend, duringcreditsstinger, ol...  1995-12-22
3  based on novel, interracial relationship, sing...  1995-12-22
4  baby, midlife crisis, confidence, aging, daugh...  1995-02-10

                       collection runtime      revenue    budget  \
0            Toy Story Collection      81  3.73554e+08  30000000
1                            None     104  2.62797e+08  65000000
2       Grumpy Old Men Collection     101            0         0
3                            None     127  8.14522e+07  16000000
4  Father of the Bride Collection     106  7.65789e+07         0

          director                                               cast  \
0    John Lasseter  Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1     Joe Johnston  Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2    Howard Deutch  Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3  Forest Whitaker  Whitney Houston, Angela Bassett, Loretta Devin...
4    Charles Shyer  Steve Martin, Diane Keaton, Martin Short, Kimb...

                                production_companies  \
0                            Pixar Animation Studios
1  TriStar Pictures, Teitler Film, Interscope Com...
2                       Warner Bros., Lancaster Gate
3             Twentieth Century Fox Film Corporation
4         Sandollar Productions, Touchstone Pictures

       production_countries popularity average_vote num_votes language  \
0  United States of America    21.9469          7.7      5415       en
1  United States of America    17.0155          6.9      2413       en
2  United States of America    11.7129          6.5        92       en
3  United States of America    3.85949          6.1        34       en
4  United States of America    8.38752          5.7       173       en

     imdb_id                        poster_url
0  tt0114709  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1  tt0113497  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2  tt0113228  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3  tt0114885  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4  tt0113041  /e64sOI48hQXyru7naBFyssKFxVd.jpg
   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
46628
   movieId  imdb_id   tmdbId
0        1   114709    862.0
1        2   113497   8844.0
2        3   113228  15602.0
3        4   114885  31357.0
4        5   113041  11862.0

In [5]:
movies.describe()

                  id        budget
count   46628.000000  4.662800e+04
mean   109678.820837  4.163636e+06
std    112908.126984  1.727426e+07
min         2.000000  0.000000e+00
25%     26760.250000  0.000000e+00
50%     61299.000000  0.000000e+00
75%    159624.000000  0.000000e+00
max    469172.000000  3.800000e+08

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    46628 non-null  int64
 1   title                 46624 non-null  object
 2   tagline               20783 non-null  object
 3   description           45633 non-null  object
 4   genres                44104 non-null  object
 5   keywords              31739 non-null  object
 6   date                  46540 non-null  object
 7   collection            4574 non-null   object
 8   runtime               46360 non-null  object
 9   revenue               46624 non-null  object
 10  budget                46628 non-null  int64
 11  director              45711 non-null  object
 12  cast                  44137 non-null  object
 13  production_companies  34346 non-null  object
 14  production_countries  40132 non-null  object
 15  popularity            46624 non-null  object
 16  average_vote          46624 non-null  object
 17  num_votes             46624 non-null  object
 18  language              46617 non-null  object
 19  imdb_id               7 non-null      object
 20  poster_url            46229 non-null  object
dtypes: int64(2), object(19)
memory usage: 7.5+ MB

In [7]:
movies.isnull().count()

id                      46628
title                   46628
tagline                 46628
description             46628
genres                  46628
keywords                46628
date                    46628
collection              46628
runtime                 46628
revenue                 46628
budget                  46628
director                46628
cast                    46628
production_companies    46628
production_countries    46628
popularity              46628
average_vote            46628
num_votes               46628
language                46628
imdb_id                 46628
poster_url              46628
dtype: int64

In [8]:
movies.shape()

TypeError: 'tuple' object is not callable

In [9]:
movies.shape

(46628, 21)

In [10]:
movies.isnull()

,id,title,tagline,description,genres,keywords,date,collection,runtime,revenue,budget,director,cast,production_companies,production_countries,popularity,average_vote,num_votes,language,imdb_id,poster_url
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,False,False,False,False,False,False,True,True,False,False,False,False,False,True,False,False,False,False,False,True,False
46624,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
46625,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
46626,False,False,True,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
46627,False,False,True,False,True,True,False,True,False,False,False,False,True,True,False,False,False,False,False,True,False

In [11]:
movies

,id,title,tagline,description,genres,keywords,date,collection,runtime,revenue,budget,director,cast,production_companies,production_countries,popularity,average_vote,num_votes,language,imdb_id,poster_url
0,862,Toy Story,None,"Led by Woody, Andy's toys live happily in his ...","animation, comedy, family","jealousy, toy, boy, friendship, friends, rival...",1995-10-30,Toy Story Collection,81,3.73554e+08,30000000,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",Pixar Animation Studios,United States of America,21.9469,7.7,5415,en,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"adventure, fantasy, family","board game, disappearance, based on children's...",1995-12-15,None,104,2.62797e+08,65000000,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","TriStar Pictures, Teitler Film, Interscope Com...",United States of America,17.0155,6.9,2413,en,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"romance, comedy","fishing, best friend, duringcreditsstinger, ol...",1995-12-22,Grumpy Old Men Collection,101,0,0,Howard Deutch,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","Warner Bros., Lancaster Gate",United States of America,11.7129,6.5,92,en,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","comedy, drama, romance","based on novel, interracial relationship, sing...",1995-12-22,None,127,8.14522e+07,16000000,Forest Whitaker,"Whitney Houston, Angela Bassett, Loretta Devin...",Twentieth Century Fox Film Corporation,United States of America,3.85949,6.1,34,en,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,comedy,"baby, midlife crisis, confidence, aging, daugh...",1995-02-10,Father of the Bride Collection,106,7.65789e+07,0,Charles Shyer,"Steve Martin, Diane Keaton, Martin Short, Kimb...","Sandollar Productions, Touchstone Pictures",United States of America,8.38752,5.7,173,en,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,439050,Subdue,Rising and falling between a man and woman,Rising and falling between a man and woman.,"drama, family",tragic love,None,None,90,0,0,Hamid Nematollah,"Leila Hatami, Kourosh Tahami, Elham Korda",None,Iran,0.072051,4,1,fa,NaN,/jldsYflnId4tTWPx8es3uzsB1I8.jpg
46624,111109,Century of Birthing,None,An artist struggles to finish his work while a...,drama,"artist, play, pinoy",2011-11-17,None,360,0,0,Lav Diaz,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Sine Olivia,Philippines,0.178241,9,3,tl,NaN,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
46625,67758,Betrayal,A deadly game of wits.,"When one of her hits goes wrong, a professiona...","action, drama, thriller",None,2003-08-01,None,90,0,0,Mark L. Lester,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",American World Pictures,United States of America,0.903007,3.8,6,en,NaN,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg
46626,227506,Satan Triumphant,None,"In a small town live two brothers, one a minis...",None,None,1917-10-21,None,87,0,0,Yakov Protazanov,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yermoliev,Russia,0.003503,0,0,en,NaN,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
46627,461257,Queerama,None,50 years after decriminalisation of homosexual...,None,None,2017-06-09,None,75,0,0,Daisy Asquith,None,None,United Kingdom,0.163015,0,0,en,NaN,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg

In [12]:
movies['imdb_id1']=movies['imdb_id'].loc[3:]

In [13]:
movies.head()

,id,title,tagline,description,genres,keywords,date,collection,runtime,revenue,budget,director,cast,production_companies,production_countries,popularity,average_vote,num_votes,language,imdb_id,poster_url,imdb_id1
0,862,Toy Story,None,"Led by Woody, Andy's toys live happily in his ...","animation, comedy, family","jealousy, toy, boy, friendship, friends, rival...",1995-10-30,Toy Story Collection,81,3.73554e+08,30000000,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",Pixar Animation Studios,United States of America,21.9469,7.7,5415,en,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,NaN
1,8844,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"adventure, fantasy, family","board game, disappearance, based on children's...",1995-12-15,None,104,2.62797e+08,65000000,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","TriStar Pictures, Teitler Film, Interscope Com...",United States of America,17.0155,6.9,2413,en,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"romance, comedy","fishing, best friend, duringcreditsstinger, ol...",1995-12-22,Grumpy Old Men Collection,101,0,0,Howard Deutch,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","Warner Bros., Lancaster Gate",United States of America,11.7129,6.5,92,en,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","comedy, drama, romance","based on novel, interracial relationship, sing...",1995-12-22,None,127,8.14522e+07,16000000,Forest Whitaker,"Whitney Houston, Angela Bassett, Loretta Devin...",Twentieth Century Fox Film Corporation,United States of America,3.85949,6.1,34,en,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,tt0114885
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,comedy,"baby, midlife crisis, confidence, aging, daugh...",1995-02-10,Father of the Bride Collection,106,7.65789e+07,0,Charles Shyer,"Steve Martin, Diane Keaton, Martin Short, Kimb...","Sandollar Productions, Touchstone Pictures",United States of America,8.38752,5.7,173,en,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,tt0113041

In [14]:
movies.describe()

                  id        budget
count   46628.000000  4.662800e+04
mean   109678.820837  4.163636e+06
std    112908.126984  1.727426e+07
min         2.000000  0.000000e+00
25%     26760.250000  0.000000e+00
50%     61299.000000  0.000000e+00
75%    159624.000000  0.000000e+00
max    469172.000000  3.800000e+08

In [15]:
movies.dtypes

id                       int64
title                   object
tagline                 object
description             object
genres                  object
keywords                object
date                    object
collection              object
runtime                 object
revenue                 object
budget                   int64
director                object
cast                    object
production_companies    object
production_countries    object
popularity              object
average_vote            object
num_votes               object
language                object
imdb_id                 object
poster_url              object
imdb_id1                object
dtype: object

In [16]:
movies['imdb'].astype(int)

KeyError: 'imdb'

In [17]:
movies['imdb_id'].astype(int)

ValueError: invalid literal for int() with base 10: 'tt0114709'

In [18]:
movies['imdb_id'].loc[0:3].drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [19]:
hello

NameError: name 'hello' is not defined

In [26]:
movies['imdb_id']=movies['imdb_id'].astype(str)